In [1]:
import pandas as pd 
import os
import  plotly.express as plt

In [2]:
pwd = os.getcwd()
file_path = os.path.join(pwd, "exisiting_customer_data.xlsx" )

In [3]:
df = pd.read_excel(file_path)

In [12]:
df.head()

,transaction_id,customer_id,online_order,order_status,brand,product_line,product_class,list_price,Profit,first_name,last_name,gender,job_industry_category,wealth_segment,owns_car,tenure,Age,state,property_valuation,Customer_segment
0,1,2950,0,Approved,Solex,Standard,medium,71.49,17.87,Kristos,Anthony,M,Financial Services,Mass Customer,Yes,10,68,VIC,6,PLATINUM
1,2,3120,1,Approved,Trek Bicycles,Standard,medium,2091.47,1702.55,Lauree,O'Donnell,F,Health,Mass Customer,Yes,10,44,NSW,5,SILVER
2,3,402,0,Approved,OHM Cycles,Standard,low,1793.43,1544.61,Berne,Donegan,M,Retail,Affluent Customer,No,22,46,NSW,1,SILVER
3,4,3135,0,Approved,Norco Bicycles,Standard,medium,1198.46,817.36,Titus,Worsall,M,Financial Services,Mass Customer,No,16,61,NSW,10,SILVER
4,6,2339,1,Approved,Giant Bicycles,Road,medium,1538.99,709.34,Damien,Haddeston,M,Property,Affluent Customer,Yes,16,65,NSW,10,SILVER

In [8]:
#df.head()
#df.columns.value_counts().sum()
df.columns
#df['product_class'].unique()
#df.head()

Index(['transaction_id', 'customer_id', 'online_order', 'order_status',
       'brand', 'product_line', 'product_class', 'list_price', 'Profit',
       'first_name', 'last_name', 'gender', 'job_industry_category',
       'wealth_segment', 'owns_car', 'tenure', 'Age', 'state',
       'property_valuation', 'Customer_segment'],
      dtype='object')

In [5]:
df =df.drop([ 'product_id','transaction_date', 'product_size','standard_cost',
       'product_first_sold_date', 'past_3_years_bike_related_purchases', 'DOB', 
       'job_title','deceased_indicator',
       'address', 'postcode', 'country'],axis=1 )

In [36]:
product_line = df.groupby(['product_line']).agg({ 'transaction_id': 'count', 'Profit': 'sum'})

In [37]:
product_line

              transaction_id      Profit
product_line
Mountain                 285    27348.21
Road                    2753   985713.84
Standard                9786  5628269.16
Touring                  812   889156.28

In [38]:
online_orders = df.groupby(['online_order']).agg({ 'customer_id' :'count', 'Profit': 'sum'})

In [47]:
online_orders

              customer_id      Profit
online_order
0                    6825  3812659.49
1                    6811  3717828.00

In [40]:
order_status = df.groupby(['order_status']).agg({ 'transaction_id' :'count', 'Profit': 'sum'})

In [41]:
order_status

              transaction_id      Profit
order_status
Approved               13504  7453948.91
Cancelled                132    76538.58

In [42]:
brands = df.groupby(['brand']).agg({ 'transaction_id' :'count', 'Profit': 'sum'})

In [43]:
brands

                transaction_id      Profit
brand
Giant Bicycles            2273  1071996.00
Norco Bicycles            2012   597727.32
OHM Cycles                2097  1015740.03
Solex                     2954  1676022.89
Trek Bicycles             2072  1308780.07
WeareA2B                  2228  1860221.18

In [44]:
product_class = df.groupby(['product_class']).agg({ 'transaction_id' :'count', 'Profit': 'sum'})

In [45]:
product_class

               transaction_id      Profit
product_class
high                     2114   787163.30
low                      2032   815157.58
medium                   9490  5928166.61